@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(31, 27, 61);
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 101vh;
}

.container{
    color: rgb(236, 236, 236);
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 90px 10px;
    background-color: rgb(42, 39, 107);
    box-shadow: 0px 10px 30px rgba(0, 1, 31, 0.555);
}

.box{
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    padding: 50px;
}

.valor{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
      font-size:70px;
    color: rgb(231, 231, 41);
}

.button-att{
    padding: 10px 50px;
    font-size: 18px; 
    border: none;
    border-radius: 10px;
    display: flex;
    margin: auto;
    background-color: rgb(231, 231, 41);
}

.button-att:hover{
        cursor: pointer;
        background-color: transparent;
        transition: 0.2s;
        color: rgb(236, 236, 236);
        border: 2px solid rgb(231, 231, 41);
}

img{
    height: 50px;
    align-items: center;
    justify-content: center;
}

#resultado{
    padding: 80px;
}